

/* Border for all divs during development*/
div {
  border: 1px dashed orange;
}

/* Universal Styles */
html {
  font-size: 16px;
  font-family: 'Raleway', sans-serif;
  color: hsl( 0, 0%, 25%);
}

p, span {
  font-size: 1.3rem;
  line-height: 1.9rem;
}

h1 {
  font-size: 3.25rem;
  line-height: 3.75rem;
  padding-bottom: 3rem;
}

h2 {
  font-size: 2.66rem;
  line-height: 3.10rem;
  padding-bottom: 2rem;
}

h3 {
  font-size: 2.33rem;
  line-height: 2.8rem;

}

h4 {
  font-size: 2rem;
  line-height: 2.5rem;

}

h5 {
  font-size: 1.66rem;
  line-height: 2.1rem;
}

h6 {
  font-size: 1.33rem;
  line-height: 1.8rem;
}

h1,h2 {
  font-weight: 800;

}

h3,h4,h5,h6 {
  font-weight: 600;
}

h1,h2,h3,h4,h5,h6 {
  color: #4a4a4a;

}

nav {
  padding-right: 1.5rem;
}

nav ul {

}
nav li {
  padding-left: 1rem;
}

.section {
  padding: 2rem 0;
}

.flexcontent {
  display: flex;
  /*align-items: center;*/
}

.card {
  align-items: center;
}

.textcontent {
  padding: 1rem 1.5rem 1.5rem 1rem;
  text-align: left;
}

.center {
  text-align: center;

}

.left {
  /*text-align: left;*/
/*  padding: 0 1.5rem;*/
}

.main {
  position: relative;
  top: 5rem;
}

.thirtyfive {
  max-width: 35%;
}

.forty {
  max-width: 40%;
}

.sixty {
  max-width: 60%;
  padding: 1rem 0;
}

/*.sixty .image-container {
  padding: 0 1.5rem;
}*/

.sixtyfive {
  width: 65%;
}

.button {
  background-color: #4a4a4a;
  color: white;
  border-radius: 5px;

}
/*
.sixty img {
  max-width: 95%;
  height: auto;
  display: block;
  padding: 2.5rem 2.5%;
}
*/

/* Universal image styles */
.image-container {
  /*width: 60%;
  height: auto;
  padding: 1rem;*/

}

.img {
  height: auto;
  display: block;
  /*overflow: hidden;*/
  max-width: 100%;
}

.large {
  padding: 0 1.5rem;
  /*margin: 1rem;*/
}

.small {

  /*padding: 0.66rem;*/
}



/* Header Section */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  z-index: 5;
  width: 100%;
  height: 5.5rem;
  border-bottom: solid 1px #c6c1c1;
  background-color: white;
  border: 1px dashed red;

}

.logo {
  align-items: center;
}

header img, .tablet img {
  height: 4rem;
  padding-left: 1.25rem;
}


header span {
  font-style: normal;
  color: lightgray;
  font-size: 2rem;
}

header span:nth-child(2n+2) {
  font-weight: bold;
  color: black;
}

header nav {
  font-size: 1.4rem;
  font-weight: 600;

}



header .tablet {
  display: none;
}

@media only screen and (max-width: 720px) {
  /*header nav {
    display: none;*/
  }
  header .tablet ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }
}

@media only screen and (max-width: 470px) {
  .logo .desktop {
    display: none;
  }
}

/*Call to Action section*/
.cta {
  background-color: lightgray;
  align-items: center;
}

.cta .textcontent {
  width: 70%;
  padding-left: 0;

}

/*.cta h1 {

}

.cta h3 {
  line-height: 2.5rem;
}*/

.cta h5, .cta h1 {
  padding-bottom: 2.75rem;
}

.cta .button {
  padding: 1rem;
  text-align: center;
  font-size: 1.5rem;
}

/*
.cta a {
  font-size: 1.5rem;
}
*/

/* Quotes and Features section */
.features.flexcontent {
  align-items: start;

}

.quote {
  flex: 1;
  /*padding: 1rem 1rem;
  margin: 1rem 1rem;*/
}

/*.quote .left {
  padding: 0 1rem;
}*/

.quote .textcontent {
  padding: 2rem 0 1.5rem 0;
}

.quote h2 {
  padding-bottom: 1.5rem;
}

.quote p {
  font-size: 1.3rem;
  padding-bottom: 2rem;
}

.quote span {
  font-weight: 600;
}

.feature .image-container {
  padding: 1rem;
}

.feature h3 {

}

.feature p {
  padding: .5rem 0;
}
.feature a {
  font-size: 1.1rem;
  line-height: 1.6rem;
  color: blue;

}

/* Learn section */
.learn {
  background-color: lightgray;
}

.courses {
  flex-wrap: wrap;
  align-items: normal;
  padding: 0 3.5rem;

}

.course {
  flex-basis: 30%;
  flex-shrink: 1;
  margin: 0 1rem 2rem 1rem;
  background-color: white;
}
.course img {
  width: 100%;
}

.course span {
  padding: 0.75rem 0;
}

/* Thesis exhibit section */
.thesis .textcontent {
  padding-left: 2.5%;
  padding-top: 1.5rem;
}
.thesis img {
  width: 30%;
  padding: 2.5%;
}

.thesis video {
  display: block;
  height: auto;
  width: 95%;
  padding: 0 2.5%;
}

.thesis .card:first-child {
  background-color: lightgray;
}

.exhibit.sixty {
  padding-top: 0;
}

.exhibit.sixty p {
  padding-top: 1rem;
}


/* Footer section */
footer {
  height: 5rem;
  align-items: center;
  border-top: 1px solid lightgray;
}

.copyright {
  flex: 1;

}

.copyright p {
  font-size: 1rem;
  line-height: normal;
  padding-left: 1.5rem;
}
